extends ../../layouts/default

block heroText
  h1(style="font-size: 48px; font-weight: 400; margin: 0;") Confirm your email address

block copy
  p(style="margin: 0;")
    | Confirming your email address is easy. Just press the button below. We'll have you up and running in no time.
  
block copyButton
  a(href="#", target="_blank", style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #FF6561; display: inline-block;") Confirm Email